<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>TODO APP</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>

	
    <div class="block">
<section class="hero is-primary">
  <div class="hero-body ">
    <div class="container">
      <h1 class="title">What do you want to do today??</h1>
      <h1 class="subtitle">Note it down here</h1>
    </div>
  </div>
</section>
    </div>
    <div class="container">
  
<nav class="level">
 <div class="level-item has-text-centered">
  <div class="block">
    <form action="#" method="POST" role="form">
      <div class="block">
        <div class="field has-addons">
          <p class="control">
            <input type="text" class="input" placeholder="Enter tasks...">
          </p>
          <p class="control">
            <a href="" class="button is-info">Add</a>
          </p>
        </div>
      </div> 
    </form>
  </div>
  </div>
  </nav>

  
  <div class="block is-block">
    <div class="card has-text-centered">
      <h1 class="title">Tasks List</h1>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span >
           <button class="button is-danger">DELETE COMPLETE</button>
          </span>
        </p>
        <p class="card-footer-item">
            <span >
                <button class="button is-danger">DELETE ALL</button>
            </span>
          </p>
      </footer>
    </div>
  </div>

  <div class="block is-block">
  <div class="list is-hoverable ">
<ul>
  <li class="list-item">Create My website <button class="delete is-pulled-right has-background-danger"></button></li>
  <li class="list-item">Create My website <button class="delete is-pulled-right has-background-danger"></button></li>
  <li class="list-item">Create My website <button class="delete is-pulled-right has-background-danger"></button></li>
 
</ul>
  </div>
  </div>



</div>
	</body>
</html>